# 1.2 Limpieza

Descarga de base de datos mundial obtenida de la Organización de la Viña y el vino.


Fuente: https://www.oiv.int/es/que-hacemos/datos

#### Paso 1 Descripción de los datos

El objetivo de este notebook es limpiar los datasets de registros duplicados, valores nulos, consistencia en el tipo de dato, etc.

### Tabla 1. referido al consumo del vino a lo largo de la historia alrededor del mundo.

Comenzamos por importar un CSV

In [3]:
#Importamos Librerias

import pandas as pd

In [6]:
historia_vino = pd.read_csv('csv_data_vinos_OVI.csv', encoding="latin", sep=";")
historia_vino.head()

,Continent,Region/Country,Product,Variable,Year,Unit,Quantity
0,Asia,Afganistán,Uvas de mesa,Consumo,1995.0,toneladas,189 800
1,Asia,Afganistán,Uvas pasas,Consumo,1995.0,toneladas,8 050
2,Asia,Afganistán,Uvas frescas,Exportaciones,1995.0,toneladas,11 500
3,Asia,Afganistán,Uvas pasas,Exportaciones,1995.0,toneladas,20 000
4,Asia,Afganistán,Uvas frescas,Importaciones,1995.0,toneladas,0

In [7]:
historia_vino.shape

(52798, 7)

In [8]:
historia_vino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52798 entries, 0 to 52797
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Continent       52797 non-null  object
 1   Region/Country  52796 non-null  object
 2   Product         52796 non-null  object
 3   Variable        52796 non-null  object
 4   Year            52796 non-null  float64
 5   Unit            52796 non-null  object
 6   Quantity        52796 non-null  object
dtypes: float64(1), object(6)
memory usage: 2.8+ MB

In [9]:
historia_vino.describe

<bound method NDFrame.describe of                                  Continent Region/Country       Product  \
0                                     Asia     Afganistán  Uvas de mesa
1                                     Asia     Afganistán    Uvas pasas
2                                     Asia     Afganistán  Uvas frescas
3                                     Asia     Afganistán    Uvas pasas
4                                     Asia     Afganistán  Uvas frescas
...                                    ...            ...           ...
52793                               África       Zimbabue          Vino
52794                               África       Zimbabue          Vino
52795                               África       Zimbabue          Vino
52796                                  NaN            NaN           NaN
52797  Filtros aplicados: \nLanguage es ES            NaN           NaN

            Variable    Year       Unit  Quantity
0            Consumo  1995.0  toneladas   189 800
1            Consumo  1995.0  toneladas     8 050
2      Exportaciones  1995.0  toneladas    11 500
3      Exportaciones  1995.0  toneladas    20 000
4      Importaciones  1995.0  toneladas         0
...              ...     ...        ...       ...
52793  Importaciones  2021.0    1000 hl        14
52794     Producción  2021.0    1000 hl        14
52795  Exportaciones  2022.0    1000 hl         0
52796            NaN     NaN        NaN       NaN
52797            NaN     NaN        NaN       NaN

[52798 rows x 7 columns]>

a) Limpieza de datos
1. Revisamos si existen columnas no informativas y columnas con valores constantes.
2. Eliminaremos las columnas que no necesitemos.
3. Unificaremos criterios para estandarizar la tabla.

Veamos de una en una cada columna:
    1. Continent = Refiere al continente donde se ubica la data.
    2. Region = País donde se ubica la data.
    3. Product = tipo de material utilizado, en este caso la Uva.
    4. Variable = Refiere a importación, exportación o consumo.
    5. Year = Año al que refiere la data.
    6. Unit = Unidad de medida utilizado, en este caso, toneladas.
    7. Quantity = Cantidad de toneladas al año

In [15]:
# Hay un criterio unificado en todas las columnas, cada una comienza con la primera letra en mayuscula y posterior minusculas.
# En este caso no es necesario utilizar ningun metodo ni función prederterminada.
# No es necesario renombrar ninguna columna.
# Es importante que todas lleven el mismo formato.
historia_vino.columns

Index(['Continent', 'Region/Country', 'Product', 'Variable', 'Year', 'Unit',
       'Quantity'],
      dtype='object')

In [ ]:
# Valores invalidos o no necesarios:

In [14]:
## agregar la parte de scrapeo

#### a) Limpieza listings

Primero, elimino columnas con valores constantes o columnas no informativas. Eliminaré también columnas relacionadas con el host, como name o summary para evitar sesgos (quizá habría que analizarlas aparte). Veámoslas de una en una.